---
import "../styles/index.css"
const title = "Agenda 2030"
---

<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Home</title>
	</head>
	<body>

		<header class="header">
			<!-- titolo -->
			<a href="" class="logo">{title}</a>
			<!-- nav -->
			<input type="checkbox" class="menu-btn" id="menu-btn">
			<label for="menu-btn" class="menu-icon">
				<span class="nav-icon"></span>
			</label>
			<ul class="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Obiettivi</a></li>
				<li><a href="#">Quiz</a></li>
			</ul>
		</header>

		<!-- grid -->
		<div class="image">
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-01.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-02.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-03.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-04.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-05.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-06.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-07.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-08.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-09.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-10.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-11.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-12.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-13.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-14.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-15.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-16.jpg" alt="SDG 1"></a>
		<a href="#"><img src="././public/index/image/SDG_Icons_RGB/SDG-icon-IT-RGB-17.jpg" alt="SDG 1"></a>
		</div>
	</body>
</html>
